name = "CrystallographyBase"
uuid = "93b1d1cd-a8ea-4aa5-adb1-b2407ea0ba8d"
authors = ["singularitti <singularitti@outlook.com>"]
version = "0.12.0"

[deps]
AnonymousEnums = "1b8a1bdb-a29a-4350-a16c-c7e9322d6a39"
CrystallographyCore = "80545937-1184-4bc9-b283-396e91386b5c"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Mendeleev = "c116f080-063d-490a-9873-2b5b2cce4c34"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
AnonymousEnums = "0.1"
CrystallographyCore = "0.1, 0.2"
Mendeleev = "0.2, 0.3, 1"
StaticArrays = "0.8.3, 0.9, 0.10, 0.11, 0.12, 1"
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"
UnitfulAtomic = "a7773ee8-282e-5fa2-be4e-bd808c38a91a"

[targets]
test = ["Test", "Unitful", "UnitfulAtomic"]
